.product-details {
  margin-top: 20px;
}

.product-details img {
  border-radius: 8px;
}

.product-details-info h6 {
  margin-bottom: 10px;
}

.similar-products {
  margin-top: 30px;
}

.similar-products .card {
  width: 18rem;
}
